@import '../../../index.css';

.login-form{
    min-height: 80vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
}